{% extends "index.html" %}
{% block title %} Añadir Profesor {% endblock %}
{% block content %} 

<section class="section">
    <div class="column">
        <form action="{{url_for('proffesor_post_json')}}" method="POST">
            <div class="form-group">
                <label for="txtFirstName">Nombres:</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Inserte los nombres">
            </div>            
            <div class="form-group">
                <label for="txtLastName">Apellidos:</label>
                <input type="text" class="form-control" id="last_name"  name="last_name" placeholder="Inserte los apellidos">
            </div>            
            <div class="form-group">
                <label for="txtCity">Ciudad:</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Inserte la ciudad">
            </div>            
            <div class="form-group">
                <label for="txtAddress">Dirección:</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Inserte la dirección">
            </div>            
            <div class="form-group">
                <label for="txtSalary">Salario:</label>
                <input type="number" class="form-control" id="salary" name="salary" placeholder="Inserte el salario">
            </div>            
            <button type="submit" class="btn btn-success mt-2">Guardar</button>
            <a href="{{url_for('proffesor_list')}}" class="btn btn-primary mt-2">Volver</a>
        </form>        
    </div>
</section>

{% endblock %}